{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a href="/ideas/edit/{{id}}" class="btn btn-dark mb-2">Edit</a>
        <form method="POST" action="/ideas/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="Delete" class="btn btn-block btn-danger btn-dark mb-2">
        </form>
    </div>
{{else}}
    <p>No ideas listed</p>
{{/each}}